<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <!-- Nivel general INFO para ocultar logs internos ruidosos de Spring y JDBC -->
  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>

  <!-- Mantenemos el nivel DEBUG exclusivamente para nuestro código (dev/test) -->
  <logger name="ar.edu.itba.paw" level="DEBUG" />
</configuration>