<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <property name="logFormat" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />

  <appender name="ERRORS" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- Daily rollover -->
      <fileNamePattern>logs/paw-2026a-03-errors.%d{yyyy-MM-dd}.log</fileNamePattern>
      <!-- Keep 5 days of logs -->
      <maxHistory>5</maxHistory>
    </rollingPolicy>
    <!-- Solo capturar logs con nivel WARN o superior -->
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>
    <encoder>
      <pattern>${logFormat}</pattern>
    </encoder>
  </appender>

  <appender name="GENERAL" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- Daily rollover -->
      <fileNamePattern>logs/paw-2026a-03-app.%d{yyyy-MM-dd}.log</fileNamePattern>
      <!-- Keep 5 days of logs -->
      <maxHistory>5</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>${logFormat}</pattern>
    </encoder>
  </appender>
  
  <root level="WARN">
    <appender-ref ref="ERRORS" />
  </root>

  <logger name="ar.edu.itba.paw" level="INFO">
    <appender-ref ref="GENERAL" />
  </logger>
</configuration>